#body{
    background-color:darkslategray;
    text-align: center;
    color:red;
}

#contenido{
    max-width: 50%;
    align-content: center;
    border:2px ;
    background-color: #2F4f4f;
}

#contenido img{
    max-width: 10rem;
}